<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>D3: Scatterplot</title>
	    <script type="text/javascript" src="/static/js/d3.js"></script>
		<link rel="stylesheet" href="/static/css/MultiPlots.css" media="screen" type="text/css" />
		<!--<link rel="stylesheet" href="/static/css/bootstrap.min.css"  type="text/css"/> -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	</head>
	<body>
		<!-- <form action="http://127.0.0.1:8000/PlotDistribution/MultiPlots_test">
    	<input type="submit" value="dataset_test">
		</form> -->

		<div class="btn-group" role="group" aria-label="...">
		  <div class="btn-group" role="group">
		    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
		      Dataset Selection
		      <span class="caret"></span>
		    </button>
		    <ul class="dropdown-menu" role="menu">
		      
		      <li><a href="MultiPlots_soc_Slashdot0811">soc_Slashdot0811</a></li>
		      <li><a href="MultiPlots_soc_Slashdot0811_HeatMap">soc_Slashdot0811_HeatMap</a></li>
		      <li><a href="MultiPlots_wiki_Vote">wiki_Vote</a></li>
		      <li><a href="MultiPlots_tmp2_ID_processed">retweetWeek2</a></li>
		      <li><a href="MultiPlots_tmp2_ID_processed_HeatMap">retweetWeek2_HeatMap</a></li>
		    </ul>
		  </div>

		  <div class="btn-group" role="group">
		    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
		      Anomaly Detection
		      <span class="caret"></span>
		    </button>
		    <ul class="dropdown-menu" role="menu">
		      <div id="showAnomaly0"></div>
		      <div id="showAnomaly8"></div>
		      <div id="showAnomaly16"></div>
		      <div id="showAnomaly32"></div>
		    </ul>
		  </div>
		</div>

		<div class="tableContainer">
			<div class="row">
				<div class="plot" id="degreeCount">
				</div>
				<div class="plot" id="degreePagerank">
				</div>
				<div class="plot" id="radiusCount">
				</div>
			</div>
			<div class="row">
				<div class="plot" id="degreeRadius">
				</div>
				<div class="plot" id="ev1ev2">
				</div>
				<div class="plot" id="ev2ev3">
				</div>
			</div>
		</div>

		<div id="infoContainer">
			<div id="console">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Information Console</h3>
					</div>
					<div class="panel-body" id="consoleContent">
						Info Console.
					</div>
				</div>			
			</div>
			<div class="plot" id="egonet">
			</div>
		</div>

		<!--<script src="/static/js/MultiPlots.js"></script>-->
		<script src="/static/js/MultiPlots.js"></script> 
	</body>
</html>
